<meta name="author" content="Dr. Rubisco">

<meta property="og:title" content="Dr. Rubisco">
<meta property="og:type" content="website">
<meta property="og:url" content="https://thedocruby.net">
<meta property="og:description" content="Website of Dr. Rubisco (thedocruby), a passionate developer">
<meta property="og:image" content="images/mediaimage.png">
<meta property="og:locale" content="en_US">

<meta property="twitter:title" content="Dr. Rubisco">
<meta property="twitter:description" content="Website of Dr. Rubisco (thedocruby), a passionate developer">
<meta property="twitter:image" content="images/mediaimage.png">

<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">